.nav-container {
    width: 250px;
}

.c-wrapper-mobile {
    margin-left : 0px;
    width: 100%;
}

.c-wrapper-nav-no-collapse {
    margin-left : 223px;
    width: 100%;
    overflow: scroll;
    /*padding-right: 140px;*/
}

.c-wrapper-nav-collapse {
    margin-left : 83px;
    width: 100%;
    transition: 850ms;
    overflow: scroll;
}

.main-header-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 5;
}

.main-container {
    position: flex;
    background-color: #ebedef;
    height: 100vh;
    width: 100vw;
    overflow-y:scroll;
    padding-bottom: 100px;
}

.container-layout {
    background-color: #10489e;
    overflow-y:hidden;
    height: 100vh;
}

.container-fluid {
    overflow-x: hidden;
}

.pro-sidebar-content {
    overflow-y: auto;
}

.pro-item-content {
    white-space: inherit !important;
}