@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-form {
  width: 200px;
}

.hr-presta-ya {
  border-top: 3px solid;
  color: #ffa500;
  border-color: #ffa500;
}

.title-page {
  font-size: 24px;
  font-weight: bold;
  color: #10489e;
}

.btn-secondary {
  color: #ffff !important;
}

.btn-danger {
  color: #ffff !important;
}

.btn-info {
  color: #ffff !important;
}

.btn-light {
  background-color: #f3f3f3;
}

#sidebar .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
  background-color: #c3e6ff !important;
}

.invalid__message__data {
  width: 100%;
  margin-top: 3px;
  margin-left: 1px;
  font-size: 13px;
  color: #dc3545;
}

.valid__message__data {
  width: 100%;
  margin-top: 3px;
  margin-left: 1px;
  font-size: 13px;
  color: #319602;
}

.hr-nexxum {
  border-top: 3px solid rgba(0, 0, 0, 0.1);
  color: #A01127;
  border-color: #A01127;
}

.header-form {
  margin: 0 0 24px 0 !important;
}


.ant-btn, .ant-btn:active, .ant-btn:focus {
  border: 1px solid !important;
}

.ant-table-thead > tr > th  {
  color: rgb(255 255 255 / 85%) !important;
  font-weight: 500;
  border: 1px solid darkgray;
  background-color: #10489e !important;
  font-size: 13px;
  padding: 13px 13px !important;
}

.ant-table-thead > tr > th.ant-table-cell.table-audit-column{
  background-color: #4c4c4c !important;
}

.table-audit-head {
  background-color: #4c4c4c !important;
}

.table-audit-column {
  background-color: #bbbbbb !important;
  color: #ffff !important;
}

.table-audit-column:hover {
  background-color: #bbbbbb !important;
}

.text-audit-table {
  font-weight: bold;
  font-size: 13px;
  margin: 0px;
}

.text-numbers-table {
  text-align: right;
}

.ant-btn {
  border-radius: 0.4rem !important;
}

.pro-item-content {
  font-size: 14px;
}

.ant-table-tbody > tr > td {
  position: relative;
  padding: 8px 8px !important;
  overflow-wrap: break-word;
}

.form-control {
  font-size: 13px;
}

.input-group-text {
  font-size: 13px;
}